@import "tailwindcss";

@font-face {
  font-family: "HelveticaNeue";
  src: url("assets/fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("assets/fonts/helvetica-neue/HelveticaNeueRoman.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TimesNewRoman";
  src: url("assets/fonts/times-new-roman/times.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BasisGrotesque";
  src: url("assets/fonts/basis-grotesque/BasisGrotesqueMonoPro-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  overflow: hidden;
}

#root {
  height: 100vh;
}

@theme {
  --color-main: #364738;
  --font-helvetica: "HelveticaNeue", sans-serif;
  --font-times: "TimesNewRoman", sans-serif;
  --font-grotesque: "BasisGrotesque", sans-serif;
}

.track-cell > span {
  font-size: 12px;
}